#stream{  width: 700px ;
          margin-left: auto ;
          margin-right: auto ;
      	  background-color: silver;}
.tweet{ width: 600px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2px;
		margin-bottom: 2px;
		background-color: white; }