body{ background-color: #c0deed; }
#title{  width: 1049px;
	      margin-left: auto;
	      margin-right: auto; }
#stream{  width: 500px ;
          margin-left: auto ;
          margin-right: auto ;
      	  background-color: silver;}
.tweet{ width: 496px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2px;
		margin-bottom: 2px;
		background-color: white; }
.user{  font-weight: bold; }
.timestamp{  font-style: italic; }
.message{  font-size: 17px
           font-family: 'Helvetica Neue'; 
           }